---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="h-[60vh] w-full flex justify-center items-center pb-[10rem] pt-48">
    <div class="rounded-xl py-8 sm:py-14 px-6 sm:px-12 lg:px-16 w-10/12 z-10">
      <h1
        class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center"
      >
        404 | <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500"
          >Not Found</span
        >
      </h1>
      <p class="leading-normal text-base md:text-2xl mb-8 text-center">
        What could you possibly be looking for???
      </p>
    </div>
  </div>
</Layout>
