---
const year = new Date().getFullYear();
---

<footer class="dark p-12 glass-frosted pt-[8rem] min-h-[30vh]">

  <div class="flex justify-between">
    
    <hr class="my-6 border-gray-200 sm:mx-autolg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-indigo-300 sm:text-center"
        >© {year}<a class="hover:underline text-center">GrumpyTofu</a> All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
