---
import { LoadingDisplay } from './LoadingDisplay';
---

<nav class="fixed top-0 flex w-full p-6 glass-thick z-30 h-[5.4rem]">
  <div>
    <a href="/" class="text-2xl md:text-md">GrumpyTofu</a>
  </div>
  <div class="flex-grow"></div>
  <LoadingDisplay client:only />
</nav>
